.list-group-item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
  border-radius: 3px;
}

.list-group-item span {
  box-sizing: border-box;
  width: 65%;
  display: block;
  margin-left: 35%;
  height: inherit;
  vertical-align: middle;
  border: 1px solid #d1d1d1;
  padding: .5em;
  padding-top: 10%;
  font-size: 1.25em;
  line-height: 1.25em;
}

.list-group-item img {
  float: left;
  width: 30%;
  height: 100%;
}

@media (min-width:550px) {
  .list-group-item {
    margin: 0;
  }

  .list-group-item:hover {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 250, 214, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 250, 214, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 250, 214, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 250, 214, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 250, 214, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 250, 214, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fffad6', GradientType=0);
  }

  .list-group-item span {
    font-size: 2em;
    line-height: 1.25em;
    height: auto;
    width: auto;
    margin: 0;
    padding: 1em;
    text-align: center;
    position: relative;
    z-index: 2;
    background-color: #fff;
  }

  .list-group-item img {
    float: none;
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s;
  }

  .list-group-item:hover img {
    transform: scale(1.1, 1.1);
  }
}